/* Body styles */
body {
    font-family: 'Poppins', sans-serif;
}
#text-color {
    color: #E76F51
    ;
}


/* Header styles */


.header-down {
    padding-top: 70px;
}
.header-bg {
    background: #264653
    ;
}
.btn-Purchase {
    background: #E76F51
    ;
}


/* Main styles */

/* Features styles */


#Features {
    filter: grayscale(1); 
}


/* Clients styles */


.filled {
    color: #E77C40;
}
.unfilled {
    color: #E77C40;
}


/* Question styles  */


.paragraph-color {
    color: #7E848C
    ;
}


/* Carousel styles */


.carousel-bg {
    background-image: linear-gradient(#a1235a, #94bbe9);
}
#price-color {
    color: #617c90;
}


/* information styles */


#info-fill-color {
    color: #0B0D17;
}
.info-bg {
    background: #617c90;
}
.btn-submit {
    background: #E76F51
    ;
}


/* Footer styles */

.footer-bg {
    background: #0B0D17;
}
.a-color {
    color: white;
}



/* End styles */