/* Body styles */
body {
    font-family: 'Poppins', sans-serif;
}
#text-color {
    color: #E76F51
    ;
}


/* Header styles */


.header-bg {
    background: #264653
    ;
}
.btn-Purchase {
    background: #E76F51
    ;
}

/* Main styles */


/* Features styles */


#Features {
    filter: grayscale(1); 
}


/* Clients styles */

.filled {
    color: #E77C40;
}
.unfilled {
    color: #E77C40;
}

